<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Centros de Salud</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNy6VD8lzWnyszbNUDq4ZGWUgGIFnFz_s" defer></script>
    <script src="/static/js/map.js" defer></script>
</head>
<body>
    <div id="controls">
        <input type="text" id="address" placeholder="Ingrese una dirección" />
        <button id="searchBtn">Buscar</button>
    </div>
    <div id="map"></div>
</body>
</html>
